@model DataLayer.Models.Policy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policy</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsurancePolicyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelledAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelledAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CancelledFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CancelledFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLimitedTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLimitedTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
