@model DataLayer.Models.Policy

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Policy</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyNumber)
                @Html.ValidationMessageFor(model => model.PolicyNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsuranceCompany, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsuranceCompany)
                @Html.ValidationMessageFor(model => model.InsuranceCompany)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InsurancePolicyNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InsurancePolicyNumber)
                @Html.ValidationMessageFor(model => model.InsurancePolicyNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyStart)
                @Html.ValidationMessageFor(model => model.PolicyStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PolicyEnd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PolicyEnd)
                @Html.ValidationMessageFor(model => model.PolicyEnd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CancelledAt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CancelledAt)
                @Html.ValidationMessageFor(model => model.CancelledAt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CancelledFrom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CancelledFrom)
                @Html.ValidationMessageFor(model => model.CancelledFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLimitedTerm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLimitedTerm)
                @Html.ValidationMessageFor(model => model.IsLimitedTerm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDate)
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedDate)
                @Html.ValidationMessageFor(model => model.LastModifiedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedReason, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedReason)
                @Html.ValidationMessageFor(model => model.LastModifiedReason)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
